<nav class="navbar">
  <div class="mr-auto">
  	Filters: 
  	<div class="btn-group">
  		<button 
        class="btn"
        v-bind:class="{
          'btn-primary': filterState.dueSoon,
          'btn-outline-primary': !filterState.dueSoon
        }"
        v-on:click="toggleFilterState('dueSoon');"
      >
        Due Soon
      </button>
  		<button
        class="btn"
        v-bind:class="{
          'btn-primary': filterState.pastDue,
          'btn-outline-primary': !filterState.pastDue
        }"
        v-on:click="toggleFilterState('pastDue');"
      >
        Overdue
      </button>
  	</div>
  </div>
  <button
    class="btn btn-primary float-xs-right"
    v-on:click="createNewTodo();"
  >New Todo</button>
</nav>