<div>
    <toolbar></toolbar>
    <div class="text-center" v-if="todosLoading"><i class="fa fa-spinner"></i> Loading...</div>
    <div 
      v-else
      style="overflow-y: scroll; max-height: 65vh;"
      class="list-group"
    >
      <todo-list-item
        v-for="todo in todos"
        :key="todo.id"
        v-bind:id="todo.id"
        v-bind:name="todo.name"
        v-bind:description="todo.description"
        v-bind:dueDate="todo.dueDate"
        v-bind:complete="todo.complete"
        class="list-group-item"
      >
      </todo-list-item>
    </div>
</div>